<div class="footer">
    <div><a class="navbar-brand " href="/">False9</a></div>
  <div>Dynamic &copy; copyrights </div>
  <div>
    Made with help of
    <a href="https://www.football-data.org/">football-data.org</a>
  </div>
</div>
