<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">False9</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="nav navbar-nav ml-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/competitions">Leagues & Competitions</a>
        <a class="nav-link" href="/">Matches</a>
      </div>
    </div>
  </nav>