<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <% for(let i=0; i<noOfComp; i++){ %>
   <%    if(displayData.competitions[i].plan === "TIER_ONE"){ %>

           <p> <%= displayData.competitions[i].name %> </p>
        <% } %>
  <% } %>
</body>
</html>