<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <% for(let i=0; i<no; i++){ %>
   <%    if(disData.competition.plan === "TIER_ONE"){ %>

           <a href="<%= disData.teams[i].name %>/<%= disData.teams[i].tla %>" role="button" id=" <%= disData.teams[i].tla %> " ><br> <%= disData.teams[i].name %> </a>
        <% } %>
  <% } %>
</body>
</html>