html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

.navbar {
    color: #fff;
    background: black;
}

.nav-link {
    /* color: rgb(255 255 255); */
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-brand {
    color: rgb(255 255 255);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

.container-fluid.home {
    height: 95vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    background: rgb(84, 7, 91);
    background: linear-gradient(29deg, rgba(84, 7, 91, 1) 0%, rgba(40, 99, 77, 1) 60%, rgba(27, 139, 86, 1) 100%);
}

img.iconset {
    width: 12.5rem;
    margin-bottom: 1.5rem;
}

.col-4.data {
    text-align: center;
    padding: 2rem;
    margin-top: 3.5rem;
}

.container-fluid.testimony {
    height: 60vh;
    background: #e2e2e2;
}

.row.facts {
    height: 100%;
}

.row.footer-content {
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;
}

.container-fluid.footer {
    height: 20vh;
    color: white;
    vertical-align: middle;
    background: linear-gradient(29deg, rgb(29 135 85) 0%, rgba(40, 99, 77, 1) 60%, rgb(78 20 89) 100%);
}

p.feature-text {
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 600;
    padding: 2rem;
}

p.footer-text {
    font-size: 1.25rem;
}

a.link {
    font-size: 1.25rem;
    color: deepskyblue;
    font-weight: 600;
}

/* Competitions */

.col-sm-4 {
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    text-align: center;
    padding-left: 4rem;
}

.btn {
    color: #fff;
    /* border: solid 2.5px #e44d2e; */
    background-color: #0b6959e6;
    border-radius: 15px 15px 15px 0;
}

.btn:hover {
    background-color: #838383;
    color: white;
}

.card {
    border: none;
    width: 50%;
    left: 4rem;
    -webkit-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -2px -1px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0 0 27px 0;
}

.card-title {
    font-size: 110%;
    font-weight: 600;
}

.card-text {
    font-size: 100%;
}

@media (max-width: 800px) {
    .card {
        width: 80%;
        left: 0;
    }
    .card-title {
        font-size: 90%;
    }
    .card-text {
        font-size: 90%;
    }
    .btn {
        padding: 6%;
        font-size: 85%;
    }
}

.container-fluid.heading {
    padding: 15px;
    margin-top: 46px;
    padding-left: 0;
}

h2.section-heading {
    width: 547px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
    background: #49ded7;
    padding: 11px;
    padding-left: 28px;
    margin-left: 0;
}

.clipped {
    width: 558px;
    height: 62px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
    background: #8fffd9;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.heading {
    padding: 0;
    margin-top: 0;
    padding-left: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

/* SlideShow */

.carousel-caption.d-none.d-md-block {
    background: #08080847;
}

/* Skewed Background */

.container-fluid.comp-info {
    background: #e2e2e2;
    width: 100%;
    position: relative;
}

.container-fluid.comp-cards {
    width: 100%;
    position: relative;
    background-color: #610000;
    /* background: linear-gradient(29deg, rgba(84, 7, 91, 1) 0%, #ef233c 60%, #bd2037 100%); */
    background: linear-gradient(90deg, #149880 0%, rgba(151,40,168,1) 100%);
}

p.Comp-para {
    text-align: center;
    font-size: 2rem;
    padding: 10%;
    font-weight: 600;
    margin: 0;
}

@media (max-width: 767.98px) {
    p.Comp-para {
        font-size: 1.3rem;
        padding: 4%;
    }
}

/* LEAGUE PAGE */

.leagueButton {
    width: 100%;
    height: 400px;
    background-image: url('/img/LeaguePage/PL.png');
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.leagueConatiner {
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 2;
    background: rgb(119 36 36 / 82%);
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
    transform: translate3d(-5px, 398px, 0px) !important;
}

a.dropdown-item.pc-card {
    height: 150px;
}

.leagueConatiner p {
    vertical-align: middle;
    position: relative;
    top: 145px;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
}

a.dropdown-item.pc-card {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
}

a.dropdown-item.pc-card.teams-card {
    background-image: url('/img/LeaguePage/allteams.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a.dropdown-item.pc-card.standings-card {
    background-image: url('/img/LeaguePage/standings.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a.dropdown-item.pc-card.scorers-card {
    background-image: url('/img/LeaguePage/scorers.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

a.dropdown-item.pc-card.teams-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(119 113 36 / 82%);
}

a.dropdown-item.pc-card.standings-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(36 119 96 / 82%);
}

a.dropdown-item.pc-card.scorers-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(148 96 130 / 68%);
}

a.dropdown-item.pc-card div {
    padding: 10px;
    font-size: 36px;
    padding-left: 40px;
    padding-top: 21px;
}

/* Team ejs */

.team-container {
    margin: 95px;
    padding-right: 4rem;
    padding-left: 4rem;
}

.card.team-card {
    display: inline-block;
    width: 45%;
    margin-bottom: 2rem;
    margin-right: 4%;
}

/* .card.team-card:nth-child(odd) {
     margin-left: 47rem;
    margin-right: 12rem;
} */

img.card-img-top.crest {
    max-height: 120px;
    margin: 1rem;
    margin-left: 0;
}

a.btn.btn-primary.team-button {
    margin-top: 16px;
}

.card-body.col-sm-7 {
    text-align: center;
}

h5.card-title.team-name {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width:800px) {
    .card.team-card {
        width: 80%;
    }
    h5.card-title.team-name {
        font-size: 1rem;
    }
}

.team-row {
        /* background-image: -webkit-linear-gradient(132deg, #B61924 0%, #ffffff 50%); */
        background: rgb(255, 255, 255);
        background: linear-gradient(124deg, rgba(255, 255, 255, 1) 50%, rgba(227, 54, 54, 1) 100%);
        background: #1b1616;
        color: whitesmoke;
}

.team-button {
    background-color: #cb2c5f;
    border: none;
}

.team-button:hover {
    background-color: #484848;
}

body.team-body {
    background: rgb(204,43,94);
    background: linear-gradient(90deg, rgba(204,43,94,1) 0%, rgba(117,58,136,1) 100%);
    background: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* STANDINGS */

.table-icons {
    width: 6%;
    height: 10%;
    margin-right: 1rem;
}

thead {
    font-size: 1.25rem;
}

tbody.standing-table tr:nth-child(-n+4) {
    background: #71d474a1;
}

tbody.standing-table tr:nth-last-child(-n+3) {
    background: #d47171a1;
}

span.zone {
    height: 12px;
    width: 36px;
    background: black;
    display: inline-flex;
    margin-right: 1.5rem;
}

p.table-zone {
    display: inline-block;
    margin-right: 1rem;
}

.container-fluid.table-classification {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: #4646466e;
    width: auto;
    margin-block-end: 1rem;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}

h2.table-title {
    font-weight: 600;
    margin-block-end: 1rem;
}

span#cl-qualify {
    background: #00d016;
}

span#uel-qualify {
    background: #0053d0;
}

span#relegation {
    background: #d03a00;
}

/* Top scorers */

.scorers {
    height: 100%;
    background: rgb(84, 7, 91);
    background: linear-gradient(29deg, rgba(84, 7, 91, 1) 0%, rgba(40, 99, 77, 1) 60%, rgba(27, 139, 86, 1) 100%);
}

.top-scorers {
    margin: 1.5rem auto 1rem;
    /* background: #4646466e; */
    -webkit-box-shadow: 8px 8px 25px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 25px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 25px 2px rgba(0, 0, 0, 0.75);
    width: 80%;
    padding: 1rem;
    color: white;
    /* border-radius: 1rem; */
}

.table.top-scorers {
    border-left: 7px solid #5aa469;
    position: relative;
    transform: translate(10px, 85px);
}

table.top-scorers td {
    border: none;
}

table.top-scorers th {
    border-top: none;
}

.table.top-scorers tr:nth-child(even) {
    background-color: rgb(217, 217, 217, 0.1);
    -webkit-box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.75);
}

/* Particular Team */

.particular-team-container {
    background: #1a1b1b;
    height: 30rem;
    margin: 2rem;
    position: relative;
    transform: translate(0%, 25%);
}

.team-crest {
    height: 20rem;  
}

.team-image {
    position: relative;
    transform: translate(0px, -101px);
}