/* CSS HEX  pallete 1*/

:root {
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}

/* CSS HEX  pallete 2*/

:root {
    --space-cadet: #2b2d42ff;
    --manatee: #8d99aeff;
    --alice-blue: #edf2f4ff;
    --imperial-red: #ef233cff;
    --amaranth-red: #d90429ff;
}

/* Red color pallete */

:root {
    --persian-plum: #641220ff;
    --burgundy: #6e1423ff;
    --antique-ruby: #85182aff;
    --crimson-ua: #a11d33ff;
    --crimson-ua-2: #a71e34ff;
    --red-ncs: #b21e35ff;
    --red-ncs-2: #bd1f36ff;
    --cardinal: #c71f37ff;
    --crimson: #da1e37ff;
    --rose-madder: #e01e37ff;
}

body {
    font-family: 'Lato', sans-serif;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
    /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); */
}

.navbar {
    background: #69ADA5;
    background: -webkit-linear-gradient(top, #69ADA5, #28ADA7);
    background: -moz-linear-gradient(top, #69ADA5, #28ADA7);
    /* background: linear-gradient(to bottom, #69ADA5, #28ADA7); */
    /* background: linear-gradient(to bottom, #151716, #4c4a4ac2);      */
    background: #020202db;
    height: 61px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

/* Competitions */

.col-sm-4 {
    margin-block-end: 2rem;
    margin-block-start: 2rem;
    text-align: center;
    padding-left: 4rem;
}

.btn-primary {
    color: #fff;
    background-color: #484848;
    border: solid 2.5px #e44d2e;
    border-radius: 15px 15px 15px 0;
}

.card.w-50 {
    border: solid 2px #000000;
    left: 4rem;
    -webkit-box-shadow: -10px 8px 16px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 8px 16px -18px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 8px 16px -18px rgba(0, 0, 0, 0.75);
    border-radius: 0 0 27px 0;
}

.container-fluid.heading {
    padding: 15px;
    margin-top: 46px;
    padding-left: 0;
}

h2.section-heading {
    width: 547px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
    background: #49ded7;
    padding: 11px;
    padding-left: 28px;
    margin-left: 0;
}

.clipped {
    width: 558px;
    height: 62px;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0% 100%, 0 49%, 0% 0%);
    background: #8fffd9;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid.heading {
    padding: 0;
    margin-top: 0;
    padding-left: 0;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}

/* SlideShow */

.carousel-caption.d-none.d-md-block {
    background: #08080847;
}

/* Skewed Background */

.container-fluid.comp-info {
    background: #fdfdfd;
    min-height: 300px;
    width: 100%;
    position: relative;
}

.container-fluid.comp-cards {
    width: 100%;
    position: relative;
    background-color: #610000;
    background: #EF233C;
    background: -webkit-linear-gradient(top left, #EF233C, #BD2037);
    background: -moz-linear-gradient(top left, #EF233C, #BD2037);
    background: linear-gradient(to bottom right, #EF233C, #BD2037);
}

p.Comp-para {
    text-align: center;
    font-size: 2rem;
    padding: 101px;
    font-weight: 600;
}

/* LEAGUE PAGE */

.leagueButton {
    width: 100%;
    height: 400px;
    background-image: url('/img/LeaguePage/PL.png');
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.leagueConatiner {
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 2;
    background: rgb(119 36 36 / 82%);
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu.show {
    display: block;
    transform: translate3d(-5px, 398px, 0px) !important;
}

a.dropdown-item.pc-card {
    height: 150px;
}

.leagueConatiner p {
    vertical-align: middle;
    position: relative;
    top: 145px;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    word-spacing: 0.5rem;
}

a.dropdown-item.pc-card {
    border: 0;
    padding: 0;
    margin-bottom: 8px;
}

a.dropdown-item.pc-card.teams-card {
    background-image: url('/img/LeaguePage/allteams.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a.dropdown-item.pc-card.standings-card {
    background-image: url('/img/LeaguePage/standings.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a.dropdown-item.pc-card.scorers-card {
    background-image: url('/img/LeaguePage/scorers.png');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

a.dropdown-item.pc-card.teams-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(119 113 36 / 82%);
}

a.dropdown-item.pc-card.standings-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(36 119 96 / 82%);
}

a.dropdown-item.pc-card.scorers-card div {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(148 96 130 / 68%);
}

a.dropdown-item.pc-card div {
    padding: 10px;
    font-size: 36px;
    padding-left: 40px;
    padding-top: 21px;
}

/* Team ejs */

.team-container {
    margin: 95px;
    padding-right: 4rem;
    padding-left: 4rem;
}

.card.team-card {
    display: inline-block;
    width: 45%;
    margin-bottom: 2rem;
    margin-right: 4%;
}

/* .card.team-card:nth-child(odd) {
     margin-left: 47rem;
    margin-right: 12rem;
} */

img.card-img-top.crest {
    max-height: 120px;
    margin: 1rem;
    margin-left: 0;
}

a.btn.btn-primary.team-button {
    margin-top: 16px;
}

.card-body.col-sm-7 {
    text-align: center;
}

h5.card-title.team-name {
    font-size: 1.5rem;
    font-weight: 600;
}

@media (max-width:800px) {
    .card.team-card {
        width: 80%;
    }
    h5.card-title.team-name {
        font-size: 1rem;
    }

}

.team-row {
    /* background-image: -webkit-linear-gradient(132deg, #B61924 0%, #ffffff 50%); */
    background: rgb(255, 255, 255);
    background: linear-gradient(124deg, rgba(255, 255, 255, 1) 50%, rgba(227, 54, 54, 1) 100%);
}

.team-button {
    background-color: #212529;
    border: none;
}

.team-button:hover {
    background-color: #484848;
}

/* #B61924 */

/* STANDINGS */

.table-icons {
    width: 6%;
    height: 10%;
    margin-right: 1rem;
}

thead {
    font-size: 1.25rem;
}

tbody tr:nth-child(-n+4) {
    background: #71d474a1;
}

tbody tr:nth-last-child(-n+3) {
    background: #d47171a1;
}