.homepage-wrapper{
    
    background: linear-gradient(29deg, rgba(84, 7, 91, 1) 0%, 
              rgba(40, 99, 77, 1) 60%,
              rgba(27, 139, 86, 1) 100%);

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-wrapper .home-title{
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    color: white;
    font-size: xx-large;
    margin-top: 6rem;
    margin-bottom: 0.5rem;
}

.homepage-wrapper .home-subtitle{
    font-family: 'Lato',sans-serif;
    font-weight: 500;
    color: white;
    font-size: x-large;
}
.homepage-wrapper .home-img{
    width: 400px;
    margin-top: 20px;
}